@model ML.Web.Models.IEnumerableResult

<div class="table-responsive" style="max-height:300px">
    <table class="table table-striped text-uppercase">
        <thead style="font-weight:bold">
            <tr>
                <td>Last name</td>
                <td>First name</td>
                <td>Middle name</td>
                <td>Gender</td>
                <td>Birth date</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListOfPayer)
            {
                <tr>
                    <td style="padding-top: 15px;">@item.lastName</td>
                    <td style="padding-top: 15px;">@item.firstName</td>
                    <td style="padding-top: 15px;">@item.middleName</td>
                    <td style="padding-top: 15px;">@item.gender</td>
                    <td style="padding-top: 15px;">@item.birthDate</td>
                    <td class="navload"><a href="@Url.Action("AddKyc", "Kyc", new { q = @item.custId })" class="btn btn-sm btn-warning pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</a></td>
                    <td><button type="button" onclick="SelectPayer('@item.custId|@item.firstName|@item.lastName|@item.middleName|@item.mobileNo|@item.permanentAdd'); return false;" class="btn btn-sm btn-danger pull-right"><i class="glyphicon glyphicon-hand-up"></i> Select</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div class="modal-footer" style="background-color: #eee;">
        <span class="btn btn-danger pull-left" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancel</span>
    </div>*@
